<div class="container-fluid" id="userbadge-index">
  <div class="row" id="header-background">
    <div class="col-7 mb-5">
      <h1 id="title">RIBERAQUEST</h1>
      <p>Liste de vos badges :</p>
    </div>
    <div class="col-5">
      <%= image_tag "favicon.png", height: "150%", id: "medal" %>
    </div>
  </div>

  <div class="row" id="badges-cards">
    <% @userbadges.each_with_index do |userbadge, index| %>
      <div class="col-12 d-flex mb-2 justify-content-between badge-card">

        <div class="d-flex flex-column justify-content-end mb-3">
          <p class="badge-card-name"><%= userbadge.badge.name %></p>
          <p class="progression"><%= "#{userbadgeobjectifcount = userbadge.user_objectives.count}/#{badgeobjectifcount = Badge.find(userbadge.badge_id).objectives.count}" %></p>
        </div>

        <% progressionRequested = ((userbadgeobjectifcount / badgeobjectifcount.to_f).round(2)) %>
        <%= render 'icon_container', value: userbadge.badge.id, progression: progressionRequested,
        index: index %>

        <%= link_to "", user_badge_path(userbadge), class: "badge-card-show-link" %>
      </div>
    <% end %>
    <div class="col-12 d-flex align-items-center justify-content-center badge-card" id="badge-new">
        <p id="plus">+</p>
      <%= link_to "", user_badges_path, class: "badge-card-show-link" %>
  </div>
</div>
<%= render 'bottom_slide_view' %>

