<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center mb-5 mt-3">
      <h1><%= current_user.email %></h1>
    </div>
  </div>

  <div class="row" id="badges-cards">
    <div class="col-12">
      <p>badges :</p>
    </div>
    <% @userbadges.each do |userbadge| %>
      <div class="col-12 d-flex mb-3 justify-content-between badge-card">
        <p class="badge-name"><%= userbadge.badge.name %></p>
        <% progressionRequested = ((userbadge.user_objectives.count / Badge.find(userbadge.badge_id).objectives.count.to_f).round(2)) %>
        <%= render 'icon_container', value: userbadge.badge.id, progression: progressionRequested %>
      </div>
      <%= link_to "", user_badge_path(userbadge), class: "badge-show-link" %>
    <% end %>
  </div>
</div>

<%= render 'bottom_slide_view' %>
