<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="<%= image_url "favicon.png" %>" type="image/x-icon">
    <title>medQuest</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= yield %>
    <link rel="javascript" href="http://localhost:35729/livereload.js">
  </body>
</html>
